.khan__buy-link {
  margin-left: 48px;
  text-decoration: none;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  height: 100%; /*Без стилизации высота ссылки равна высоте элемента khan__book-pic, из-за
  чего кликабельной становится также большая зона под текстом ссылки. При height: 100%
  элемент занимает ровно столько места, сколько в нем контента*/
}
