.khan__book-pic {
  width: 620px;
  height: 608px;
  object-fit: contain; /*Я заметил, что изображение теряет пропорции, но в брифе было
  показано, что оно полностью заполняет элемент с пропорциями 620*608, поэтому я
  решил, что так и задумывалось*/
  object-position: center center;
}
